<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion"
				 connectionString="Data Source=52.15.93.249;Initial Catalog=DBSISTEMA_VENTA;Persist Security Info=True;User ID=DemoUserDB1;Password=12453;Encrypt=False"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>